@charset "UTF-8"; 
  body{
      background-color: rgba(11, 11, 185, 0.534);
  }
  .navbar{
    background-color: aquamarine;
  }
  .quem-somos{
    background-color: rgb(111, 192, 192) ;
    color: rgb(117, 81, 2)
  }
  .margin{
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .parceiros{
    background-color: rgb(72, 167, 167);
  }

  .bg-footer{
    background-color: black;
    color: red;

  }